#!name= everycircuit
#!desc = Unlock to 1000 
hostname = mmcloudone.appspot.com
^https:\/\/mmcloudone\.appspot\.com\/_ah\/api\/everycircuitapi\/v1\/sessionbackend\?email url script-response-body everycircuit.js