#!name=Unlock Kidsup
#!desc=Kidsup
;^https:\/\/api\.kidsup\.net\/(unlock|check) url script-response-header kidsup.js
^https:\/\/api\.kidsup\.net\/(unlock|check) url script-analyze-echo-response rspkidsup.js

hostname = api.kidsup.net