#!name = my filter

#facebook
host-suffix, fbcdn.net, Final
host, scontent.cdninstagram.com, TH
host, hoathinh3d.pro, TH
host-suffix, 9458.com, lords
host-suffix, igg.com, lords

host, loggingacceptor1.readid.com, reject