#!name=Nicegram 
#!desc=Nicegram Premium 
;^https?:\/\/restore-access\.indream\.app\/restoreAccess\?id=\w+$ url script-echo-response https://raw.githubusercontent.com/I-am-R-E/Functional-Store-Hub/Master/Nicegram/Script/Nicegram.js
^https?:\/\/restore-access\.indream\.app\/restoreAccess\?id=\w+$ url script-analyze-echo-response nicegram.js
^https:\/\/nicegram\.cloud\/api\/v6/user\/info url script-response-body nicegram.js
hostname = restore-access.indream.app, nicegram.cloud