#!name=Shopee
#!desc=Shopee


^https?:\/\/(\w+\.)?shopee\.vn\/api\/.*\/platform\/get_ft_v2\?userid url script-request-header shopee/headers.js

^https:\/\/games\.shopee\.vn\/gameplatform\/.*\/activity\/.*\/settings\?appid= url script-response-body shopee/listgames.js

^https?:\/\/mall\.shopee\.vn\/api\/v4\/checkout/ url script-response-body shopee/checkoutInfo.js
hostname = shopee.vn, mall.shopee.vn, games.shopee.vn
