hostname = *.api.sygic.com

^https://licensing.api.sygic.com/app-license-file-service/v1/license-file url script-request-header delheader.js
^https://licensing.api.sygic.com/app-license-file-service/v1/license-file url script-response-body testSygic.js