#!name=VeboTV
#!desc=VeboTV remove Ads, Bet
hostname = *.fbdata.xyz, *.fbhub.xyz, api.vebo.*, *.imgur.com, watch.4shares.live, entitlements.jwplayer.com, watch.ezyproxy.com

^https:\/\/api\.vebo\.xyz\/api\/a\/vebotv\/(home|live|bh) url reject

#VeboTV = type=http-request,pattern=^https:\/\/api*\.(fb(data|hub)|vebo)\.xyz(\/*)v\d\/config\/ios,requires-body=0,script-path=scripts/langkhach/VeboTV.js
https://i.imgur.com/.+.mp4$ url reject
https://i.imgur.com/.+.gif url reject
https://watch.4shares.live/img/.+.gif url reject
https://watch.4shares.live/avast.+.xml url reject
https://entitlements.jwplayer.com/.+.json url reject
https://watch.ezyproxy.com/img/.*.gif url reject